* {
    box-sizing:border-box;
}

.calculator {
    width: 900px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
h1
{
    width: 500px;
}
.calc_input
{
    width: 40%;
}
.calc_p {
    width:50%;
}
.calc_form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 500px;
    margin: 0 0 20px 0;
    padding: 20px;
    border: solid grey;
    border-radius: 10px;
}
.flex_box
{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0 0 20px 0;
    width: 100%;

}
.error_form
{
    width: 500px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
